@mixin headersStyle {
	color: #222222;
	font-family: 'Montserrat';
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	letter-spacing: -2px;
}

@mixin servicesHeaderStyle {
	color: #222222;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: -0.4px;
}

@mixin servicesTextStyle {
	color: #888888;
	font-family: "Noto Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.35px;
}

body {
	width: 100%;
	margin: 0 auto;
}

.section-header {
	background-image: url('http://imageshack.com/a/img923/2870/t8V746.png');
	padding-bottom: 700px;
	position: relative;
	.layer {
		background-color: #000000;
		opacity: 0.75;
		position: absolute;
		padding-bottom: 165px;
		width: 100%;
	}
	.header-menu {
		padding-top: 40px;
		padding-bottom: 150px;
		.menu {
			ul {
				li {
					display: inline-block;
					border-radius: 50px;
					&:hover {
						background:rgba(255,255,255, 0.3);
						cursor: pointer;
						transition: .7s;
					}
					a {
						color: #ffffff;
						font-family: 'Montserrat';
						font-size: 14px;
						font-weight: 400;
						line-height: 41px;
						padding: 25px;
						text-decoration: none;
						
					}	
				}
			}
		}
	}
	.main-header {
		text-align: center;
		h2 {
			color: #ffffff;
			font-family: 'Montserrat';
			font-size: 50px;
			font-weight: 700;
			line-height: 60px;
			letter-spacing: -2.5px;
			padding-bottom: 31px;
		}
		img {
			padding-bottom: 44px;
		}
		p {
			color: #cccccc;
			font-family: "Noto Sans";
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: -0.5px;
		}
	}
}

.section-services {
	text-align: center;
	.services-header {
		h3 {
			@include headersStyle;
			padding-bottom: 10px;
			padding-top: 80px;
		}
		img {
			padding-bottom: 75px;
		}
	}
	.services-elements {
		h4 {		
			@include servicesHeaderStyle;
		}
		p {
			padding-bottom: 100px;
			@include servicesTextStyle;
		}
		img {
			padding-bottom: 30px;
			 border-radius:50%;    
		    -webkit-transition: -webkit-transform .8s ease-in-out;
		    -ms-transition: -ms-transform .8s ease-in-out;
		    transition: transform .8s ease-in-out;
			&:hover {
				cursor: pointer;
				transform:rotate(360deg);
			    -ms-transform:rotate(360deg);
			    -webkit-transform:rotate(360deg);
			}
		}
	}
}

.section-expertise {
	 background-color: #f7f7f7;
	 padding-left: 300px;
	 [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	 .expertise-photo {
	 	background-image: url('http://imageshack.com/a/img923/6426/I49koj.png');
	 	padding-bottom: 580px;
	 	&:hover {
	 		opacity: 0.7;
	 		cursor: pointer;
	 		transition: .7s;
	 	}
	 }
	 .expertise-header {
	 	text-align: left;
	 	h3 {
	 		@include headersStyle;	
	 		padding-top: 60px;
	 	}
	 	p {
	 		padding-bottom: 48px;
	 		color: #777777;
			font-family: "Noto Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: -0.4px;
	 	}
	 }
	.expertise-services {
		h4 {
			float: right;
			width: 89%;
			margin-top: 5px;
			color: #222222;
			font-family: 'Montserrat';
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: -0.35px;
		}
		p {
			float: right;
			width: 89%;
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -0.35px;
		}
		img {
			cursor: pointer;
		}
		.lock {
			clear: both;
			p {
				padding-bottom: 40px;
			}
		}
		.star {
			clear: both;
		}
		.cloud {
			clear: both;
		}
	}
	.expertise-button {
		button {
			margin-bottom: 45px;
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 700;
			line-height: 44.21px;
			letter-spacing: -0.37px;
			background-color: #ffffff;
			border-radius: 50px;
			padding: 8px 32px;
			border: 1px solid  #35c2f8;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
			&:hover {
				color: #fff;
				background-color: #35c2f8;
				transition: .6s;
			}
		}
	}
}

.section-portfolio {
	padding-left: 300px;
	img {
		cursor: pointer;
	}
	.tree {
		background-image: url('http://imageshack.com/a/img923/5804/297rBw.png');
		padding-bottom: 600px;
		margin-left: 120px;
		margin-top: 80px;
	}
	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.portfolio-header {
		h3 {
			@include headersStyle;	
	 		padding-top: 60px;
		}
	}
	.portfolio-content {
		background-image: url('http://imageshack.com/a/img924/787/a3ITsw.png');
		width: 75%;
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: -0.35px;
			padding-bottom: 30px;
		}
	}
	.portfolio-offer {
		h4 {
			float: right;
			width: 90%;
			margin-top: 0;
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: -0.4px;
		}
		p {
			float: right;
			width: 90%;
		}
		.starr {
			padding-top: 20px;
			clear: both;
		}
		.pie {
			padding-top: 20px;
			clear: both;
			p {
				padding-bottom: 60px;
			}
		}
		.sail {
			padding-top: 20px;
			h4 {

			}
		}
	}
}	

.section-gallery {
	padding-top: 30px;
	padding-bottom: 90px;
	img {
		width: 100%;
		&:hover {
			cursor: pointer;
			transition: .6s;
			opacity: .6;
		}
	}
	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.section-about {
	.about-content {
		text-align: right;
		margin-right: 10px;
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
			line-height: 20px;
		}
		h4 {
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.4px;
			line-height: 25px;
		}
	}
	.about-header {
		text-align: center;
		img {
			padding-bottom: 90px;
		}
		h3 {
			@include headersStyle;
		}
	}
	.about-image {
		padding-bottom: 110px;
		cursor: pointer;
	}
	.july2010 {
		text-align: left;
	}
	.right-image {
		text-align: right;
		padding-bottom: 110px;
		cursor: pointer;
	}
	.right-content {
		margin-right: 10px;
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
			line-height: 20px;
		}
		h4 {
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.4px;
			line-height: 25px;
		}
	}
	.bottom-image {
		text-align: center;
		padding-bottom: 110px;
		cursor: pointer;
	}
}

.section-team {
	background-color: #f7f7f7;
	text-align: center;
	.team-header {
		h3 {
			@include headersStyle;
		}
		img {
			padding-bottom: 72px;
		}
	}
	.team-content {
		img {
			padding-bottom: 10px;
			cursor: pointer;
		}
		i {
			margin-bottom: 90px;
			color: #fff;
			background-color: black;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 21px;
			border-radius: 50px;
			margin-right: 7px;
			&:hover {
				color: black;
				background-color: #f7f7f7;
				transition: 0.6s;
				cursor: pointer;
			}
		}
		h4 {
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 700;
			font-weight: 700;
			letter-spacing: -0.4px;
			line-height: 20px;
			margin-bottom: 5px;
		}
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;					
		}
	}
	.bottom-text {
		color: #777777;
		font-family: "Noto Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.4px;
		padding-bottom: 100px;
	}
}

.section-contact {
	background-color: #111111;
	.right-side {
		padding-top: 75px;
		input {
			display: block;
			width: 90%;
			padding: 10px 0 10px 10px;
			margin-bottom: 30px;
		}
		button {
			display: block;
			color: #ffffff;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			line-height: 44.21px;
			letter-spacing: -0.37px;
			background-color: #35c2f8;
			border-radius: 50px;
			border: 1px solid #35c2f8;
			padding: 8px 30px;
			margin-bottom: 37px;
			&:hover {
				color: black;
				background-color: #fff;
				transition: 0.7s;
				border: 1px solid #fff;
			}
		}
		textarea {
			width: 90%;
			margin-bottom: 30px;
			padding: 10px 0 10px 10px;
		}
	}
	.contact-header {
		h3 {
			color: #ffffff;
			font-family: 'Montserrat';
			font-size: 40px;
			font-weight: 700;
			letter-spacing: -1px;
			padding-top: 50px;
		}
		p {
			color: #ffffff;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 25px;
			letter-spacing: -0.35px;
			padding-bottom: 30px;
		}
	}
	.contact-content {
		p {
			color: #ffffff;
			font-family: "Noto Sans";
			font-size: 16px;
			font-weight: 400;
			float: right;
			width: 80%;
		}
		img {
			padding-bottom: 40px;
			cursor: pointer;
		}
		.facebook {
			clear: both;		
		}
		.pinterest {
			clear: both;	
		}
		.gplus {
			clear: both;
		}
		.twitter {
			clear: both;	
		}
		.col-lg-6 {
			padding-left: 0;
		}	
	}
	.footer {
		color: #ffffff;
		font-family: "Noto Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: -0.35px;
		text-align: center;
		padding-bottom: 30px;
		p {
			padding-top: 20px;
			&:hover {
				color: #35c2f8;
				cursor: pointer;
				transition: .6s;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section-expertise {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		.expertise-header {
			text-align: center;
			padding-bottom: 40px;
		}
		.expertise-photo {
			clear: both;
			padding-left: 0;
			padding-right: 0;
			display: none;
		}
		.expertise-services {
			text-align: left;
			padding-left: 100px;
			.lock {
				padding-top: 20px;
				p {
					padding-bottom: 80px;
				}
			}
			.star {
				padding-top: 20px;
			}
		}
	}
	.tree {
		display: none;
	}
	.section-portfolio {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		.portfolio-content {
			width: 100%;
		}
		.portfolio-offer {
			h4 {
				float: none;
				width: 100%;
				padding-top: 15px;
			}
			p {
				float: none;
				width: 100%;
			}
		}
	}	
}

@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		text-align: center;
	}
	.menu {
		ul {
			padding-left: 0;
			padding-top: 50px;
			text-align: center;
		}
	}
	.section-expertise {
		padding-left: 15px;
		padding-right: 15px;
		.expertise-header {
			text-align: center;
			padding-left: 15px;
		}
		.expertise-photo {
			display: none;
		}
		.expertise-services {
			padding-left: 200px;
			.star {
				padding-top: 20px;
			}
			.cloud {
				padding-top: 20px;
			}
			.lock {
				padding-top: 20px;
			}
		}
		.expertise-button {
			text-align: center;
			clear: both;
			button {
				margin-top: 20px;
			}
		}
	}
	.tree {
		display: none;
	}
	.section-portfolio {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		.portfolio-content {
			width: 100%;
		}
		.portfolio-offer {
			h4 {
				float: none;
				width: 100%;
				padding-top: 15px;
			}
			p {
				float: none;
				width: 100%;
			}
		}
	}
	.section-contact {
		.right-side {
			margin-top: 100px;
		}
	}
}

@media (max-width: 767px) {
	.logo {
		text-align: center;
	}
	.section-header {
		.main-header {
			h2 {
				font-size: 40px;
			}
		}
		.header-menu {
			padding-bottom: 80px;			
			.menu {
				ul {
					padding-left: 0;
					padding-top: 50px;
					text-align: center;
					li {
						display: block;
					}
				}
			}
		}
	}
	.section-services {
		.services-header {
			h3 {
				padding-top: 320px;
			}
		}
	}
	.section-expertise {
		padding-left: 15px;
		padding-right: 15px;
		.expertise-header {
			text-align: center;
			padding-left: 15px;
		}
		.expertise-photo {
			display: none;
		}
		.expertise-services {			
			text-align: center;
			p {
				float: none;
				width: 100%;
			}
			h4 {
				float: none;
				width: 100%;
			}			
			.star {
				padding-top: 40px;
			}
			.cloud {
				padding-top: 40px;
			}
			.lock {
				padding-top: 40px;
			}
		}
		.expertise-button {
			text-align: center;
			clear: both;
			button {
				margin-top: 20px;
			}
		}
	}
	.tree {
		display: none;
	}
	.section-portfolio {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		.portfolio-content {
			width: 100%;
		}
		.portfolio-offer {
			h4 {
				float: none;
				width: 100%;
				padding-top: 15px;
			}
			p {
				float: none;
				width: 100%;
			}
		}
	}
	.section-about {
		text-align: center;
		.right-content {
			text-align: center;
		}
		.about-content {
			text-align: center;
			padding-top: 50px;
		}
		.about-image {
			padding-bottom: 35px;
			padding-top: 20px;
		}
		.right-image {
			text-align: center;
			padding-bottom: 30px;
		}
		.bottom-image {
			padding-top: 40px;
		}
	}
	.left-side {
		.contact-header {
			text-align: center;
		}
		.contact-content {
			text-align: center;
			p {
				float: none;
				width: 100%;
			}
			img {
				padding-bottom: 10px;
				padding-top: 25px;
			}	
		}
	}
	.section-contact {
		text-align: center;
		.right-side {
			input {
				width: 50%;
				margin: 15px auto;
			}
			textarea {
				width: 50%;
			}
			button {
				margin: 0 auto;
			}
		}
	}
}
	
@media (min-width: 1200px) and (max-width: 1500px) {
	.section-expertise {
		padding-left: 35px;
	}
}

