@mixin headersStyle {
	color: #222222;
	font-family: 'Montserrat';
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	letter-spacing: -2px;
}

@mixin servicesHeaderStyle {
	color: #222222;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: -0.4px;
}

@mixin servicesTextStyle {
	color: #888888;
	font-family: "Noto Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.35px;
}

body {
	width: 100%;
	margin: 0 auto;
}

.section-header {
	background-image: url('http://imageshack.com/a/img923/2870/t8V746.png');
	padding-bottom: 700px;
	position: relative;
	.layer {
		background-color: #000000;
		opacity: 0.75;
		position: absolute;
		padding-bottom: 165px;
		width: 100%;
	}
	.header-menu {
		padding-top: 40px;
		padding-bottom: 150px;
		.menu {
			ul {
				li {
					display: inline-block;
					a {
						color: #ffffff;
						font-family: 'Montserrat';
						font-size: 14px;
						font-weight: 400;
						line-height: 41px;
						padding: 25px;
						text-decoration: none;
					}	
				}
			}
		}
	}
	.main-header {
		text-align: center;
		h2 {
			color: #ffffff;
			font-family: 'Montserrat';
			font-size: 50px;
			font-weight: 700;
			line-height: 60px;
			letter-spacing: -2.5px;
			padding-bottom: 31px;
		}
		img {
			padding-bottom: 44px;
		}
		p {
			color: #cccccc;
			font-family: "Noto Sans";
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: -0.5px;
		}
	}
}

.section-services {
	text-align: center;
	padding-top: 60px;
	.services-header {
		h3 {
			@include headersStyle;
			padding-bottom: 10px;
		}
		img {
			padding-bottom: 75px;
		}
	}
	.services-elements {
		h4 {		
			@include servicesHeaderStyle;
		}
		p {
			padding-bottom: 100px;
			@include servicesTextStyle;
		}
		img {
			padding-bottom: 30px;
		}
	}
}

.section-expertise {
	 background-color: #f7f7f7;
	 padding-left: 400px;
	 [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	 .expertise-photo {
	 	background-image: url('http://imageshack.com/a/img923/6426/I49koj.png');
	 	padding-bottom: 580px;
	 }
	 .expertise-header {
	 	text-align: left;
	 	h3 {
	 		@include headersStyle;	
	 		padding-top: 60px;
	 	}
	 	p {
	 		padding-bottom: 48px;
	 		color: #777777;
			font-family: "Noto Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: -0.4px;
	 	}
	 }
	.expertise-services {
		h4 {
			float: right;
			width: 89%;
			margin-top: 5px;
			color: #222222;
			font-family: 'Montserrat';
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: -0.35px;
		}
		p {
			float: right;
			width: 89%;
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -0.35px;
		}
		.lock {
			clear: both;
			p {
				padding-bottom: 40px;
			}
		}
		.star {
			clear: both;
		}
	}
	.expertise-button {
		button {
			margin-bottom: 45px;
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 700;
			line-height: 44.21px;
			letter-spacing: -0.37px;
			background-color: #ffffff;
			border-radius: 50px;
			padding: 8px 32px;
			border: 1px solid  #35c2f8;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
		}
	}
}

.section-portfolio {
	padding-left: 400px;
	.tree {
		background-image: url('http://imageshack.com/a/img923/5804/297rBw.png');
		padding-bottom: 600px;
		margin-left: 70px;
		margin-top: 80px;
	}
	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.portfolio-header {
		h3 {
			@include headersStyle;	
	 		padding-top: 60px;
		}
	}
	.portfolio-content {
		background-image: url('http://imageshack.com/a/img924/787/a3ITsw.png');
		width: 75%;
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: -0.35px;
			padding-bottom: 30px;
		}
	}
	.portfolio-offer {
		h4 {
			float: right;
			width: 90%;
			margin-top: 0;
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: -0.4px;
		}
		p {
			float: right;
			width: 90%;
		}
		.starr {
			clear: both;
		}
		.pie {
			clear: both;
			p {
				padding-bottom: 60px;
			}
		}
		.sail {
			h4 {

			}
		}
	}
}	

.section-gallery {
	padding-top: 30px;
	padding-bottom: 90px;
	img {
		width: 100%;
	}
	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.section-about {
	.about-content {
		text-align: right;
		margin-right: 10px;
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
			line-height: 20px;
		}
		h4 {
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.4px;
			line-height: 25px;
		}
	}
	.about-header {
		text-align: center;
		img {
			padding-bottom: 90px;
		}
		h3 {
			@include headersStyle;
		}
	}
	.about-image {
		padding-bottom: 110px;
	}
	.july2010 {
		text-align: left;
	}
	.right-image {
		text-align: right;
		padding-bottom: 110px;
	}
	.right-content {
		margin-right: 10px;
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
			line-height: 20px;
		}
		h4 {
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.4px;
			line-height: 25px;
		}
	}
	.bottom-image {
		text-align: center;
		padding-bottom: 110px;
	}
}

.section-team {
	background-color: #f7f7f7;
	text-align: center;
	.team-header {
		h3 {
			@include headersStyle;
		}
		img {
			padding-bottom: 72px;
		}
	}
	.team-content {
		img {
			padding-bottom: 10px;
		}
		i {
			margin-bottom: 90px;
			color: #fff;
			background-color: black;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 21px;
			border-radius: 50px;
			margin-right: 7px;
		}
		h4 {
			color: #222222;
			font-family: 'Montserrat';
			font-size: 16px;
			font-weight: 700;
			font-weight: 700;
			letter-spacing: -0.4px;
			line-height: 20px;
			margin-bottom: 5px;
		}
		p {
			color: #777777;
			font-family: "Noto Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: -0.35px;
					
		}
	}
	.bottom-text {
		color: #777777;
		font-family: "Noto Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: -0.4px;
		padding-bottom: 100px;
	}
}